body{
    /*background-color: #d1d5eb;*/
    background: url('../img/background.png');
    background-repeat: repeat;
    font-family: 'Source Sans Pro', sans-serif;
}
p{
    font-size: 16px;
}
.content{
    background-color: white;
    color: #274c96;
    min-height: 700px;
    font-size: 16px;
    padding: 30px 100px 25px 100px;
    margin: 10px auto 0 auto;
}
footer{
    background-color: white;
    font-size: 16px;
    color: #274c96;
    /*border: 1px solid black;*/
    padding: 30px 100px 25px 100px;
    margin: 10px auto 0 auto;
}
@media(min-width: 767px){

    .nav-container{
        padding: 0 10% 0 10% !important;
    }

}

